argocd.androz2091.fr {
    reverse_proxy http://argocd-server.argocd.svc.cluster.local:80
}

tagger.androz2091.fr, timetagger.androz2091.fr {
    reverse_proxy http://timetagger.home.svc.cluster.local:80
}

pgadmin.androz2091.fr {
    reverse_proxy http://pgadmin-pgadmin4.db.svc.cluster.local:80
}

plex.androz2091.fr:32400, plex.androz2091.fr {
    reverse_proxy http://plex.sushiflix.svc.cluster.local:80
}

radarr.androz2091.fr {
    reverse_proxy http://radarr.sushiflix.svc.cluster.local:80
}

harbor.androz2091.fr {
    reverse_proxy http://harbor.workflows.svc.cluster.local:80
}

cloud.androz2091.fr, filebrowser.androz2091.fr {
    reverse_proxy http://filebrowser.home.svc.cluster.local:80
}

vault.androz2091.fr {
    reverse_proxy http://vaultwarden.home.svc.cluster.local:80
}

sabnzbd.androz2091.fr {
    reverse_proxy http://sabnzbd.sushiflix.svc.cluster.local:80
}

qbt.androz2091.fr {
    reverse_proxy http://qbittorrent.sushiflix.svc.cluster.local:80
}

kolc-adminjs.androz2091.fr {
    reverse_proxy http://kolc-discord-bot.managed.svc.cluster.local:80
}

evolution-markets-adminjs.androz2091.fr {
    reverse_proxy http://evolution-markets-discord-bot.managed.svc.cluster.local:80
}

10mans-adminjs.androz2091.fr {
    reverse_proxy http://ten-mans-discord-bot.managed.svc.cluster.local:80
}

pokercode-quiz-adminjs.androz2091.fr {
    reverse_proxy http://pokercode-quiz-discord-bot.managed.svc.cluster.local:80
}

diswho.androz2091.fr {
    reverse_proxy http://diswho.pro.svc.cluster.local:80
}

analytics.androz2091.fr {
    reverse_proxy http://umami-analytics.pro.svc.cluster.local:3000
}

haste.androz2091.fr {
    reverse_proxy http://haste-server.pro.svc.cluster.local:80
}

monica.androz2091.fr {
    reverse_proxy http://monica.pro.svc.cluster.local:80
}
