argocd.androz2091.fr {
    reverse_proxy http://argocd-server.argocd.svc.cluster.local:80
}

tagger.androz2091.fr, timetagger.androz2091.fr {
    reverse_proxy http://timetagger.home.svc.cluster.local:80
}

pgadmin.androz2091.fr {
    reverse_proxy http://pgadmin-pgadmin4.db.svc.cluster.local:80
}

plex.androz2091.fr:32400, plex.androz2091.fr {
    reverse_proxy http://plex.sushiflix.svc.cluster.local:80
}

radarr.androz2091.fr {
    reverse_proxy http://radarr.sushiflix.svc.cluster.local:80
}

harbor.androz2091.fr {
    reverse_proxy http://harbor.workflows.svc.cluster.local:80
}

cloud.androz2091.fr {
    reverse_proxy http://filebrowser.home.svc.cluster.local:80
}

vault.androz2091.fr {
    reverse_proxy http://vaultwarden.home.svc.cluster.local:80
}

sabnzbd.androz2091.fr {
    reverse_proxy http://sabnzbd.sushiflix.svc.cluster.local:80
}

tautulli.androz2091.fr {
    reverse_proxy http://tautulli.sushiflix.svc.cluster.local:80
}

qbt.androz2091.fr {
    reverse_proxy http://qbittorrent.sushiflix.svc.cluster.local:80
}

kolc-adminjs.androz2091.fr {
    reverse_proxy http://kolc-discord-bot.managed.svc.cluster.local:80
}

evolution-markets-adminjs.androz2091.fr {
    reverse_proxy http://evolution-markets-discord-bot.managed.svc.cluster.local:80
}

10mans-adminjs.androz2091.fr {
    reverse_proxy http://ten-mans-discord-bot.managed.svc.cluster.local:80
}

pokercode-quiz-adminjs.androz2091.fr {
    reverse_proxy http://pokercode-quiz-discord-bot.managed.svc.cluster.local:80
}

diswho.androz2091.fr {
    reverse_proxy http://diswho.pro.svc.cluster.local:80
}

ddpe.androz2091.fr {
    reverse_proxy http://discord-data-package-explorer.pro.svc.cluster.local:80
}

slash-commands-gui.androz2091.fr {
    reverse_proxy http://slash-commands-gui.pro.svc.cluster.local:80
}

androz2091.fr, simonlefort.fr, simonlefort.ch {
    reverse_proxy http://androz2091-fr.pro.svc.cluster.local:80
}

analytics.androz2091.fr {
    reverse_proxy http://umami-analytics.pro.svc.cluster.local:3000
}

haste.androz2091.fr {
    reverse_proxy http://haste-server.pro.svc.cluster.local:80
}

monica.androz2091.fr {
    reverse_proxy http://monica.home.svc.cluster.local:80
}

pdf.androz2091.fr {
    reverse_proxy http://stirling-pdf.pro.svc.cluster.local:80
}

prometheus-grafana.androz2091.fr {
    reverse_proxy http://kube-prometheus-stack-grafana.monitoring.svc.cluster.local:80
}

photos.androz2091.fr {
    reverse_proxy http://immich-server.home.svc.cluster.local:3001
}

api.manage-invite.xyz {
    reverse_proxy /socket.io/* http://manage-invite-api.pro.svc.cluster.local:80 {
        transport http {
            compression off
        }
    }
    reverse_proxy http://manage-invite-api.pro.svc.cluster.local:80
}

dash.manage-invite.xyz {
    reverse_proxy http://manage-invite-dash-redirects.pro.svc.cluster.local:80
}

flepguessr-cs214.androz2091.fr {
    reverse_proxy http://flepguessr-cs214.pro.svc.cluster.local:80
}

h5ai-servarr.androz2091.fr {
    reverse_proxy http://h5ai-servarr.sushiflix.svc.cluster.local:80
}
