apiVersion: apps/v1
kind: Deployment
metadata:
  name: plex
  namespace: sushiflix
  labels:
    app: plex
spec:
  replicas: 1
  selector:
    matchLabels:
      app: plex
  template:
    metadata:
      labels:
        app: plex
    spec:
      containers:
        - name: plex
          image: lscr.io/linuxserver/plex:1.42.2
          imagePullPolicy: IfNotPresent

          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Europe/Paris"
            - name: TRANS_DIR
              value: /transcode

          ports:
            - containerPort: 32400
              name: http
              protocol: TCP

          resources: {}

          volumeMounts:
            - name: servarr-data-v
              mountPath: /data
            - name: plex-config-v
              mountPath: /config
            - name: transcode
              mountPath: /transcode

      volumes:
        - name: transcode
          emptyDir:
            medium: Memory
            sizeLimit: "12Gi"
        - name: servarr-data-v
          persistentVolumeClaim:
            claimName: servarr-data-pvc
        - name: plex-config-v
          persistentVolumeClaim:
            claimName: plex-config-pvc
