miyamoto-sma-api.androz2091.fr {
    reverse_proxy localhost:3211
}
recipes.androz2091.fr {
    reverse_proxy localhost:9925
}
overseerr.androz2091.fr {
    reverse_proxy localhost:5055
}
bazarr.androz2091.fr {
    reverse_proxy localhost:6767
}
sabnzbd.androz2091.fr {
    reverse_proxy localhost:8081
}
qbt.androz2091.fr {
    reverse_proxy localhost:8090
}
sonarr.androz2091.fr {
    reverse_proxy localhost:8989
}
radarr.androz2091.fr {
    reverse_proxy localhost:7878
}
plex.androz2091.fr {
    reverse_proxy localhost:32400
}
jackett.androz2091.fr {
    reverse_proxy localhost:9117
}
haste.androz2091.fr {
    reverse_proxy localhost:7777
}
api.manage-invite.xyz {
    reverse_proxy localhost:3300
}
dash.manage-invite.xyz {
    reverse_proxy localhost:3100
}
analytics.androz2091.fr {
    reverse_proxy localhost:3500
}
timetagger.androz2091.fr {
    reverse_proxy localhost:8765
}
api.stoicdaopresale.io {
    reverse_proxy localhost:3150
}
twittycord.com {
    reverse_proxy localhost:3900
}
diswho.androz2091.fr {
    reverse_proxy localhost:4500
}
cloud.androz2091.fr {
    reverse_proxy localhost:4400
}
photos.androz2091.fr {
    reverse_proxy localhost:2283
}
vault.androz2091.fr {
    reverse_proxy localhost:4700
}
portainer.androz2091.fr {
    reverse_proxy localhost:9000
}
tautulli.androz2091.fr {
    reverse_proxy localhost:8181
}

# customers
adminjs.opdmf.com {
    reverse_proxy localhost:3210
}
api.opdmf.com {
    reverse_proxy localhost:3220
}
kryptview-community-adminjs.androz2091.fr {
    reverse_proxy localhost:3910
    redir / /admin
}
netflix-adminjs.androz2091.fr {
    reverse_proxy localhost:3010
    redir / /admin
}
pokercode-quiz-adminjs.androz2091.fr {
    reverse_proxy localhost:3400
    redir / /admin
}
cow-cow-adminjs.androz2091.fr {
    reverse_proxy localhost:3450
    redir / /admin
}
kolc-adminjs.androz2091.fr {
    reverse_proxy localhost:3555
    redir / /admin
}
evolution-markets-adminjs.androz2091.fr {
    reverse_proxy localhost:3145
    redir / /admin
}
ipn-tpfisher.androz2091.fr {
    reverse_proxy localhost:3650
}
10mans-adminjs.androz2091.fr {
    reverse_proxy localhost:3670
}
lapiz-legion-adminjs.androz2091.fr {
    reverse_proxy localhost:6743
}
next.androz2091.fr {
    reverse_proxy localhost:11000
}
monica.androz2091.fr {
     reverse_proxy localhost:8095
}
