helmCharts:
  - name: harbor
    releaseName: harbor
    namespace: workflows
    version: 1.15.0
    repo: https://helm.goharbor.io
    valuesInline:
      externalURL: https://harbor.androz2091.fr
      # jobservice:
      #   jobLoggers:
      #     - database # todo ask Sylvain about this
      harborAdminPassword: this-must-be-changed # updated in the UI at first login
      expose:
        type: clusterIP
        tls:
          enabled: false

namespace: workflows

patches: []
